<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Offer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .validation-message {
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/addNewOffer}" method="post" th:object="${offer}" class="form-horizontal"
                  role="form">
                <h2>New Offer Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('offerNumber')}" th:errors="*{offerNumber}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{offerNumber}" placeholder="Offer Number"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('contractorName')}" th:errors="*{contractorName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{contractorName}" placeholder="Contractor Name"
                                  class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('billingAccountAddress')}" th:errors="*{billingAccountAddress}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{billingAccountAddress}" placeholder="Billing Account Address"
                                  class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="validation-message"></label>
                        <textarea th:field="*{description}" placeholder="Offer content"
                                  class="form-control"rows="4" cols="50"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Payment term</label></br>
                        <select>
                            <option>7 dni</option>
                            <option>14 dni</option>
                            <option>30 dni</option>
                            <option>60 dni</option>
                        </select><br/><br/><br/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Add new offer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <span th:utext="${successMessage}"></span>
</div>
</body>
</html>
