<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .validation-message {
            color: red;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/addNewTask}" method="post" th:object="${task}" class="form-horizontal"
                  role="form" accept-charset="utf-8">
                <h2>Add New Task</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{subject}" placeholder="Subject"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
                               class="mr-sm-2" id="typeOfTask"></label>
                        <select class="custom-select mr-sm-2" th:field="*{type}">
                            <option th:value="phone">Phone</option>
                            <option th:value="meeting">Meeting</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"
                               class="validation-message"></label>
                        <input type="date" th:field="*{startDate}" placeholder="Start Date"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"
                               class="mr-sm-2" id="priorityOfTask"></label>
                        <select class="custom-select mr-sm-2" th:field="*{priority}">
                            <option th:value="low">Low</option>
                            <option th:value="normal">Normal</option>
                            <option th:value="hight">Hight</option>
                        </select>
                    </div>
                </div>

                <!--TODO: Dodać datę wykonania zaplanowanego telefonu i datę przypomnienia!-->


                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="validation-message"></label>
                        <textarea th:field="*{description}" placeholder="Description"
                                  class="form-control" rows="4" cols="50"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Add new phone do tasks</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <span th:utext="${successMessage}"></span>
</div>

</body>
</html>