<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Offer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .validation-message {
            color: red;
        }
    </style>
</head>
<body>



<div class="jumbotron">
    <h2>Add New Offer</h2>
</div>
<div class="container">
    <form th:action="@{/addNewOffer}" method="post" th:object="${offer}">
        <label>Offer Number</label>
        <input type="text" id="offerNumber" name="Offer Number" th:field="*{offerNumber}"
               class="form-control"/><br/>
        <label>Contractor Name</label>
        <input type="text" id="lastName" name="lastName" th:field="*{contractorName}"
               class="form-control"/><br/>
        <label>Contractor Adress</label>
        <input type="text" id="adress" name="adress" th:field="*{billingAccountAdress}"
               class="form-control"/><br/>
        <label>Offer content</label>
        <br />
        <textarea name="Content" cols="100" rows="20">Add offer content</textarea>
        <br /><br /><br />

        <label>Payment term</label></br>
        <select>
            <option>7 dni</option>
            <option>14 dni</option>
            <option>30 dni</option>
            <option>60 dni</option>
        </select><br/><br/><br/>
        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Add new offer</button>
            </div><br/><br/><br/>
        </div>
    </form>
</div>
</body>
</html>
