<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        .validation-message{
            color: red;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h2>Dodawanie użytkownika</h2>
</div>
<div class="container">
    <form th:action="@{/addUser}" method="post" th:object="${user}">
        <label>Nick</label>
        <input type="text" id="nick"  th:field="*{nick}" name="nick"
               class="form-control" /><br/>
        <label>Email</label>
        <input type="text" id="email" name="email" th:field="*{email}"
               class="form-control" /><br/>
        <label>Hasło</label>
        <input type="password" id="password" name="password" th:field="*{password}"
               class="form-control" /><br/>
        <label>Powtórz hasło</label>
        <input type="password" id="password2" name="password2"/><br/>
        <label  th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}" class="validation-message"></label><br/>
        <button class="btn btn-lg" name="Submit" value="addUser" th:text="Dodaj"></button>
    </form>

    <div class="alert alert-success" th:text="${successMessage}">

    </div>

</div>
</body>
</html>