<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .validation-message {
            color: red;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="#" th:action="@{showScheduledTasks}" method="get" class="form-horizontal"
                  role="form" accept-charset="utf-8">
                <h2>Tasks List</h2>
                <div class="form-group">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>Date created</th>
                            <th>Priority</th>
                            <th>Start Date</th>
                            <th>Typ</th>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tr th:each="task : ${taskList}">
                            <td th:text="${task.getDateCreated()}"></td>
                            <td th:text="${task.getPriority()}"></td>
                            <td th:text="${task.getStartDate()}"></td>
                            <td th:text="${task.getType()}"></td>
                            <td th:text="${task.getSubject()}"></td>
                            <td>
                                <p th:text="${task.getDescription()}"></p>
                            </td>
                            <td>
                                <form action="#" th:action="@{'/showScheduledTasks/{id}'(id=${task.id})}" th:method="delete">
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit" id="submitButton" class="btn btn-primary btn-block">Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <span style="color:red" th:utext="${successMessage}"></span>
</div>
</body>
</html>