<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .validation-message {
            color: red;
        }
    </style>
</head>
<body>


<table class="table table-striped">

    <tr>
        <thead>
        <th scope="col">Tytuł</th>
        <th scope="col">Priorytet</th>
        <th scope="col">Typ</th>
        <th scope="col">Opis</th>
        </thead>
    </tr>
    <tbody>
    <tr th:each="tasks : ${taskList}">
        <td th:text="${tasks.getSubject()}"></td>
        <td th:text="${tasks.getPriority()}"></td>
        <td th:text="${tasks.getType()}"></td>
        <td th:text="${tasks.getDescription()}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>